.app-container {
    display: flex;
    flex-direction: column;
    max-width: 1010px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  @media (max-width: 420px) {
    .app-container {
      padding: 10px; /* Уменьшаем отступы на мобильных устройствах */
      max-width: 100%; /* Убираем ограничение по ширине */
    }
  }